accelerate==1.13.0
datasets==4.8.5
evaluate==0.4.6
huggingface_hub==1.13.0
matplotlib==3.10.9
numpy
pandas
pypdf==6.10.2
scikit_learn
scipy
tenacity==9.1.4
torch==2.11.0
tqdm==4.67.3
transformers==5.7.0
wandb==0.26.1
